POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=candidates_db

DATABASE_URL=postgresql://postgres:postgres@localhost:5433/candidates_db

VITE_API_URL=http://localhost:8000/v1

REDIS_URL=redis://redis:6379/0

QDRANT_HOST=http://qdrant:6333

COHERE_API_KEY=your-api-key
EMBEDDING_MODEL=your-model-embedding-from-cohere
EMBEDDING_DIMENSION=model-dimension 
EMBEDDING_DISTANCE=Cosine